<template>
  <div>
    <nuxt />
  </div>
</template>

<style>
html {
  font-family: 'Open Sans', sans-serif;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}
</style>
