<template>
  <div class="about-page">
    <h1>About Page</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
      deleniti!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
      deleniti!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
      deleniti!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
      deleniti!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae,
      deleniti!
    </p>
  </div>
</template>

<script>
export default {}
</script>

<style scoped>
.about-page {
  text-align: center;
  padding: 30px;
}
</style>
